<div class="container">
  <form class="form-signin" (submit)="checkData(postForm)" #postForm="ngForm">
    <h4 class="form-signin-heading text-center">Login</h4>
    <br/>
    <input type="text" name="username"  placeholder="Name" class="form-control" ngModel/>
    <br/>
    <input type="password" name="pass" placeholder="password" class="form-control" ngModel/>
    <br/><br/><br/><br/>
    <div style="text-align: center;">
    <button  class="btn login-button"  style="background-color: rgb(255,171,73); width:50%;">login</button>
  </div>
    <br/>
  </form>
</div>







